<%- include ('./partials/header') %>

<div id="e" class="carousel slide h-100" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h4 id="top-text">
        Outstanding sporting achievements deserve outstanding recognition. What better way to express this
        recognition
        than
        with our lovingly crafted medals and trophies, which can be tailored to the exact
        requirements of national and international sports associations and organisations. And it goes without saying
        that
        all our items are hand-made, whether it’s a truly unique masterpiece or a standard medal from
        the Faude online store for a proud young athlete.
      </h4>
      <img class="d-block w-100"
        src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/olympic-medal.jpg?itok=GOaydmgu"
        id="top-image" alt="First slide">
    </div>
    <div class="carousel-item">
      <h4 id="top-text">
        Outstanding sporting achievements deserve outstanding recognition. What better way to express this
        recognition
        than
        with our lovingly crafted medals and trophies, which can be tailored to the exact
        requirements of national and international sports associations and organisations. And it goes without saying
        that
        all our items are hand-made, whether it’s a truly unique masterpiece or a standard medal from
        the Faude online store for a proud young athlete.
      </h4>
      <img class="d-block w-100" src="https://www.rd.com/wp-content/uploads/2016/07/02-olympic-medal-facts.jpg"
        id="top-image" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#e" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#e" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container" >
  <div class="container position-relative">
  <div class="display-3 mb-5" align="center"><div class="section-title text-center mt-5 mb-5">Products</div></div>
  <a href="" class="stretched-link"></a>
  </div>
<div class="card-deck">
  
  <div class="card ">
    <a href="" class="stretched-link"></a>
    <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Medals</h5>
      <p class="card-text">We manufacture medals of all shapes and sizes.</p>    
    </div>    
  </div>  
  
  <div class="card ">
    <a href="" class="stretched-link"></a>
    <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gold Coins</h5>
        <p class="card-text">We offer a wide selection of Gold coins sizes and designs.</p>    
    </div>    
  </div>  
  
  <div class="card ">
    <a href="" class="stretched-link"></a>
    <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Silver Coins</h5>
      <p class="card-text">We offer a wide selection of Silver coins sizes and designs.</p>    
    </div>    
  </div>
<button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="right" title="More"><svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
</button>

</div>
</div>


<div class="container " >
  <div class="container position-relative">
  <div class="display-3 mb-5 mt-5" align="center"><div class="section-title text-center mt-5 mb-5">Customers</div></div>
  <a href="" class="stretched-link"></a>
  </div>
<div class="card-deck">
  
  <div class="card ">
    <a href="" class="stretched-link"></a>
    <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Medals</h5>
      <p class="card-text">We manufacture medals of all shapes and sizes.</p>    
    </div>    
  </div>  
  
  <div class="card ">
    <a href="" class="stretched-link"></a>
    <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gold Coins</h5>
        <p class="card-text">We offer a wide selection of Gold coins sizes and designs.</p>    
    </div>    
  </div>  
  
  <div class="card ">
    <a href="" class="stretched-link"></a>
    <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Silver Coins</h5>
      <p class="card-text">We offer a wide selection of Silver coins sizes and designs.</p> 

    </div>    
  </div>
<button type="button" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="right" title="More"><svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
</button>

</div>
</div>


<br><br><br><br><br><br>





<div style="background-color:#212529" class="section-title text-center mt-1 ">
  <div class="container mt-5">
    <font color="#dcd3c9">

      <div class="row" align="left">
        <div class="col-md-4">
          <div class="container">
                      <br>
          <h3>Reach Us</h3><br>
          <div>            
              HF METALART PRIVATE LIMITED,E-67, EPIP, GEMS & JEWELLERY ZONE, SITAPURA, JAIPUR - 302022
          </div><br>
          <div>
            (+91) 141-5185012
          </div>
          <div>
            (+91) 9783306212
          </div><br>
          <div>
            sales@hfmetalart.in
          </div>
          <div>
            info@hfmetalart.in
          </div>

          </div>

        </div>
     
        <div class="col-md-4">
          <br>
          <h3 >Sitemap</h3>
          <br>
          <a href="/" class=" sitemap nav-link" >Home</a>
          <a href="/" class=" sitemap nav-link" >Products</a>
          <a href="/about" class=" sitemap nav-link" >About Us</a>
          <a href="/" class=" sitemap nav-link" >Know How</a>
          <a href="/" class=" sitemap nav-link" >Customers</a>
          <a href="/" class=" sitemap nav-link" >Contact Us</a>
 
        </div>
        
        <div class="col-md-4">
          <br>
          <div class="container">
              <h3 align="left">Follow Us
              </h3><br>
              
              <div class=" icon-bar">
                <div>
                  Follow us on social media to ensure you’re always up to date.
                </div><br>
                <!-- <a href=""><img src="https://www.facebook.com/images/fb_icon_325x325.png" width="40 rem"></a> -->
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          </div>
      </div>  
    </font>
  </div>
</div>



<%- include ('./partials/footer') %>

    <!-- 
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="row">
                        <div class="col-sm-6 ">    
              <h3>Faude & Huguenin SA</h3>
            Route Bellevue 32<br />2400 Le Locle<br />Switzerland<br /><br />welcome@huguenin.ch<br />T: +41 32 930 52 00<br />F: +41 32 930 52 01   
  </div>
                        <div class="col-sm-6 mod-sitemap">    <div class="moduletable">
              <h3>Sitemap</h3>
            <ul class="nav menu ">
<li class="item-101"><a href="/en/" ><span>Home</span></a></li><li class="item-145"><a href="/en/contact" ><span>Contact</span></a></li><li class="item-146"><a href="/en/service-downloads/terms-conditions" ><span>AGB</span></a></li><li class="item-147"><a href="/en/disclaimer-impressum" ><span>Disclaimer &amp; Impressum</span></a></li></ul>
    </div>
  </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                        
  </div>
                        <div class="col-sm-6 mod-social-media">   <div class="moduletable">
              <h3>Social Media</h3>
            Follow us on social media to ensure you’re always up to date.
<br />
<a style="background-image: url('/templates/huguenin/images/icon-facebook.png');" href="https://www.facebook.com/faudehuguenin" target="_blank" class="icon facebook">facebook</a>
<a style="background-image: url('/templates/huguenin/images/icon-google-plus.png');" href="https://plus.google.com/103473017159447536038/posts" target="_blank" class="icon google-plus">google plus</a>
<a style="background-image: url('/templates/huguenin/images/icon-linkedin.png');" href="https://www.linkedin.com/company/faude-&-huguenin-sa" target="_blank" class="icon linkedin">linkedin</a>
<a style="background-image: url('/templates/huguenin/images/icon-xing.png');" href="https://www.xing.com/companies/faude%26hugueninsa" target="_blank" class="icon xing">xing</a>
<a style="background-image: url('/templates/huguenin/images/icon-pinterest.png');" href="https://www.pinterest.com/hugueninsa/" target="_blank" class="icon pinterest">pinterest</a>
    </div>
  </div>
                  </div>
                </div>
            </div>
        </div>
    

 -->

